h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    color: white;

}

.racer_table td {
  background-color: #404448;
  height: 100px;
  width: 100px;
  padding: 20px 40px 20px 40px;



}

