h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    color: white;

}

#player1{
    height: 150px;
    width: 100px;
    outline: 1px solid black;
    position: relative;
    left: 0;

}

#player2{
    height: 150px;
    width: 100px;
    outline: 1px solid black;
    position: relative;

